[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32
	branch = v3.3.x
[submodule "components/TFT_eSPI"]
	path = components/TFT_eSPI
	url = https://github.com/libewa/TFT_eSPI
	branch = ansitypes