CONFIG_TFT_eSPI_ESPIDF=y
CONFIG_TFT_ILI9341_DRIVER=y

CONFIG_TFT_MISO=5
CONFIG_TFT_MOSI=6
CONFIG_TFT_SCLK=4
CONFIG_TFT_CS=7
CONFIG_TFT_DC=8
CONFIG_TFT_RST=-1

CONFIG_TFT_LOAD_GLCD=y
CONFIG_TFT_LOAD_FONT2=y
CONFIG_TFT_LOAD_FONT4=y

CONFIG_FREERTOS_HZ=1000
CONFIG_ENABLE_BL=n